.projects h2 {
    margin-top: 0;
    text-align: center;
}

.projects p {
    max-width: 30em;
    margin: 0 auto;
    margin-bottom: 6vw;
}

.projects a {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 45vh;
    margin: 4vw 0;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

.projects a:nth-child(1) {
    background-image: url(../img/projects/foxy/head.jpg);
}

.projects a:nth-child(2) {
    background-image: url(../img/projects/icov/head.jpg);
}

.projects a:nth-child(3) {
    background-image: url(../img/projects/menu/head.jpg);
}

.projects a:nth-child(4) {
    background-image: url(../img/projects/pintreddit/head.jpg);
}

.projects a .info {
    position: absolute;
    background-color: var(--card-background);
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(100% - padding);
    height: auto;
    padding: 20px;
    border-radius: 0 0 15px 15px;
}

h3 {
    font-weight: 400;
    font-size: 1.5em;
    color: white;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tags p {
    font-weight: 300;
    font-size: 0.8em;
    margin: 10px 10px 0 0;
    background-color: rgb(255, 255, 255);
    color: var(--card-background);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding: 5px 8px;
}

a.more {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 15px;
    background-color: var(--card-background);
    height: 40px;
    width: auto;
    background-image: none;
    padding: 20px;
    box-shadow: var(--box-shadow);
    margin: 0 auto;
    margin-top: 4vw;
}

@media (min-width:750px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: clamp(25px, 4vw, 100px);
        grid-row-gap: clamp(25px, 4vw, 100px);
    }

    .projects a:not(.more) {
        margin: 0 !important;
    }

    a.more {
        width: 50%;
    }
}

@media (min-width:1600px) {
    .projects {
        grid-template-columns: 1fr 1fr 1fr;
    }
}