.projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 45vh;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.homegrid {
    grid-template-rows: repeat(2, 45vh);
}

.projects h2 {
    margin-top: 0;
    text-align: center;
}

.projects p {
    max-width: 30em;
    margin: 0 auto;
    margin-bottom: 6vw;
}

.projects a {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.projects a:nth-child(1) {
    background-image: url(../img/projects/foxy/head.jpg);
}

.projects a:nth-child(2) {
    background-image: url(../img/projects/knmi/head.jpg);
}

.projects a:nth-child(3) {
    background-image: url(../img/projects/menu/head.jpg);
}

.projects a:nth-child(4) {
    background-image: url(../img/projects/icov/head.jpg);
}

.projects a:nth-child(5) {
    background-image: url(../img/projects/pintreddit/head.jpg);
}

.projects a:nth-child(6) {
    background-image: url(https://github.com/RickGroot/frontend-applications/blob/main/src/img/hummer.jpg?raw=true);
}

.projects a:nth-child(7) {
    background-image: url(../img/profile2.jpg);
}


.projects a .info {
    position: absolute;
    background-color: var(--card-background);
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(100% - padding);
    height: auto;
    padding: 20px;
    border-radius: 0 0 3px 3px;
}

h3 {
    font-weight: 400;
    font-size: 1.5em;
    color: white;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tags p {
    font-weight: 300;
    font-size: 0.8em;
    margin: 10px 10px 0 0;
    background-color: rgb(255, 255, 255);
    color: var(--card-background);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding: 5px 8px;
}

a.more {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 3px;
    background-color: var(--card-background);
    height: 40px;
    width: auto;
    background-image: none;
    padding: 20px;
    box-shadow: var(--box-shadow);
    margin: 0 auto;
    margin-top: 4vw;
}

/* -----------------------------CSS shine effect source: https://jsfiddle.net/AntonTrollback/nqQc7/ */
.projects a:after {
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.0) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%
    );
    cursor: pointer;
  }
  
  .projects a:hover:after {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
    cursor: pointer;
  }
  
  .projects a:active:after {
    opacity: 0;
  }
  /* ---------------------------------------------------------------------------------------------------- */

@media (min-width:1000px) {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }

    .projects a:nth-child(1) {
        grid-area: 1 / 1 / 2 / 3;
    }
    
    .projects a:nth-child(2) {
        grid-area: 1 / 3 / 3 / 4;
    }
    
    .projects a:nth-child(3) {
        grid-area: 2 / 1 / 3 / 2;
    }
    
    .projects a:nth-child(4) {
        grid-area: 2 / 2 / 3 / 3;
    }
    
    .projects a:nth-child(5) {
        grid-area: 3 / 1 / 4 / 3;
    }
    
    .projects a:nth-child(6) {
        grid-area: 3 / 3 / 4 / 4;
    }
    
    .projects a:nth-child(7) {
        grid-area: 4 / 1 / 5 / 4 ;
    }

    .projects a .info .tags {
        max-height: 0;
        transition: all 0.4s ease;
    }

    .projects a:hover .info .tags {
        max-height: 100px;
    }
}

@media (min-width:550px) and (max-width: 1000px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects a:nth-child(1) {
        grid-area: 1 / 1 / 3 / 2;
    }
    
    .projects a:nth-child(2) {
        grid-area: 1 / 2 / 3 / 3;
    }
    
    .projects a:nth-child(3) {
        grid-area: 3 / 1 / 4 / 2;
    }
    
    .projects a:nth-child(4) {
        grid-area: 3 / 2 / 4 / 3;
    }
    
    .projects a:nth-child(5) {
        grid-area: 4 / 1 / 5 / 2;
    }
    
    .projects a:nth-child(6) {
        grid-area: 4 / 2 / 6 / 3;
    }
    
    .projects a:nth-child(7) {
        grid-area: 5 / 1 / 6 / 2 ;
    }
}