main {
    padding: var(--padding-main);
    padding-top: 20px;
    background-color: var(--background);
    border-radius: 15px 15px 0 0;
}

header {
    background-image: url(../img/profile.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section {
    z-index: 1;
}

section>p {
    max-width: 550px;
}

.skills div:nth-child(1) {
    width: 100%;
    margin-bottom: 40px;
}

.skills div:nth-child(2) {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    height: fit-content;
}

.skills div:nth-child(2) p {
    margin: 0 10px 10px 0;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    background-color: var(--card-background);
}

.skills div:nth-child(1) p {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    z-index: 3;
}

.skills div:nth-child(1) p::before,
.skills div:nth-child(1) p::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #d9f6fa;
    z-index: -1;
}

.skills div:nth-child(1) p::before {
    border-radius: 10px;
    width: 100%;
    background-color: #d9f6fa;
}

.skills div:nth-child(1) p::after {
    border-radius: 10px 2px 2px 10px;
    background-color: var(--accent);
}

.skills div:nth-child(1) p:nth-child(1):after {
    width: 90%;
}

.skills div:nth-child(1) p:nth-child(2):after {
    width: 95%;
}

.skills div:nth-child(1) p:nth-child(3):after {
    width: 85%;
}

.skills div:nth-child(1) p:nth-child(4):after {
    width: 78%;
}

@media (min-width:800px) {
    .skills {
        width: 100%;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-column-gap: 4vw;
    }

    .skills div:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
        min-width: 65vw;
    }

    .skills div:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
        padding-top: 20px;
    }

    .skills div:nth-child(1) p {
        margin: 20px 0;
    }
}