:root {
    --background: rgb(30, 29, 43);
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow-x: hidden;
}

main {
    margin: 0;
    padding: 4vw 4vw 0 4vw;
    /* background-color: var(--background); */
    /* border-radius: 15px 15px 0 0; */
}

nav {
    position: fixed;
    z-index: 100;
}

header {
    position: relative;
    height: 95vh;
    width: 100vw;
    text-align: center;
    z-index: -1;
}

header h1 {
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    text-align: center;
    font-weight: 700;
    font-size: 3.5em;
    color: white;
    padding-top: 45vh;
}

header img {
    position: fixed;
    -webkit-backface-visibility: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    z-index: -1;
}

article {
    background-image: url(https://source.unsplash.com/collection/98508412/);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 35vh;
    margin: 4vw 0;
    cursor: pointer;
    border-radius: 15px;
}

article .info {
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: 20px;
}

h3 {
    font-weight: 400;
    font-size: 1.5em;
    color: black;
}

.tags {
    display: flex;
    flex-direction: row;
}

.tags p {
    font-weight: 300;
    font-size: 0.8em;
    margin: 10px 10px 0 0;
    background-color: rgb(49, 49, 49);
    color: white;
    border-radius: 5px;
    padding: 5px 8px;
}